doctype
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{titulo}
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet" type="text/css" href="/styles/style.css")
    body.valign-wrapper
        div.container
            block contenido
        footer.page-footer
            div.footer-copyright
                div.container
                    p © 2021 Facultad de Contaduría y Administración